In [17]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

N = 210
df_id = np.arange(10001, 10001 + N)
df_score = np.round(np.random.uniform(1.0, 5.0, N), 1)
nan_indices_score = np.random.choice(N, size=int(N * 0.1), replace=False)
df_score[nan_indices_score] = np.nan
df_is_active = np.random.choice([True, False], size=N, p=[0.7, 0.3])
start_date = datetime.now() - timedelta(days=365)
date_range = [start_date + timedelta(days=np.random.randint(365)) for _ in range(N)]
categories = ['Electronics', 'Books', 'Apparel', 'Home Goods', 'Services']
df_category = np.random.choice(categories, size=N, p=[0.25, 0.20, 0.20, 0.15, 0.20])
df_review_count = np.random.randint(0, 500, N)
nan_indices_review = np.random.choice(N, size=int(N * 0.05), replace=False)
df_review_count = df_review_count.astype(float)
df_review_count[nan_indices_review] = np.nan

# --- สร้าง DataFrame ---
data = {
    'Transaction_ID': df_id,                  # Integer
    'Product_Score': df_score,                # Float (มี NaN)
    'Is_Active': df_is_active,                # Boolean
    'Transaction_Date': date_range,           # Date
    'Product_Category': df_category,          # Text/Object
    'Review_Count': df_review_count           # Float ก่อน (มี NaN)
}

df = pd.DataFrame(data)
df['Review_Count'] = df['Review_Count'].astype('Int64')

print(f"DataFrame created: {len(df)} rows, {len(df.columns)} columns.")
df

DataFrame created: 210 rows, 6 columns.

,Transaction_ID,Product_Score,Is_Active,Transaction_Date,Product_Category,Review_Count
0,10001,4.5,False,2025-05-16 11:02:37.687526,Books,46
1,10002,3.8,True,2025-11-06 11:02:37.687526,Apparel,50
2,10003,4.4,True,2025-04-29 11:02:37.687526,Home Goods,24
3,10004,1.6,False,2025-03-21 11:02:37.687526,Books,104
4,10005,1.7,True,2025-04-12 11:02:37.687526,Electronics,323
...,...,...,...,...,...,...
205,10206,2.7,False,2025-07-14 11:02:37.687526,Books,335
206,10207,5.0,False,2025-07-10 11:02:37.687526,Books,101
207,10208,4.8,True,2024-11-20 11:02:37.687526,Electronics,<NA>
208,10209,1.8,True,2025-05-10 11:02:37.687526,Apparel,194
209,10210,3.8,True,2025-02-16 11:02:37.687526,Books,135

In [9]:
df.head()

,Transaction_ID,Product_Score,Is_Active,Transaction_Date,Product_Category,Review_Count
0,10001,3.6,True,2024-12-17 10:59:03.645032,Services,189
1,10002,3.1,True,2025-02-06 10:59:03.645032,Home Goods,293
2,10003,2.9,True,2025-05-01 10:59:03.645032,Services,356
3,10004,1.8,False,2025-01-06 10:59:03.645032,Apparel,198
4,10005,4.8,True,2025-09-03 10:59:03.645032,Books,276

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_ID    210 non-null    int64
 1   Product_Score     189 non-null    float64
 2   Is_Active         210 non-null    bool
 3   Transaction_Date  210 non-null    datetime64[ns]
 4   Product_Category  210 non-null    object
 5   Review_Count      200 non-null    Int64
dtypes: Int64(1), bool(1), datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 8.7+ KB

In [16]:
# สำหรับ Numeric Columns
print("\n--- df.describe() for Numeric Columns ---")
df.describe()

--- df.describe() for Numeric Columns ---

,Transaction_ID,Product_Score,Transaction_Date,Review_Count
count,210.000000,189.000000,210,200.0
mean,10105.500000,3.117460,2025-05-17 04:55:37.930746624,266.595
min,10001.000000,1.000000,2024-11-21 10:59:03.645032,0.0
25%,10053.250000,2.300000,2025-02-13 10:59:03.645031936,137.0
50%,10105.500000,3.100000,2025-05-17 10:59:03.645031936,284.0
75%,10157.750000,4.100000,2025-08-02 22:59:03.645031936,393.25
max,10210.000000,4.900000,2025-11-18 10:59:03.645032,499.0
std,60.765944,1.136747,NaN,146.808633

In [14]:
print("\n--- df.describe(include='object') for Text Columns ---")
df.describe(include='object')

--- df.describe(include='object') for Text Columns ---

       Product_Category
count               210
unique                5
top         Electronics
freq                 54